.banner {
    background-image: url('https://www.ileriisler.com/themes/ileri-isler/assets/img/covers/cover-5.jpg')!important;
    background: no-repeat 50%/cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
}

.infoSection {
    outline: none;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-color: #d9e2ef;
    border-bottom: 1px solid #f1f4f8;
}

.buttonCircle {
    border-color: transparent;
    border-radius: 50rem;
    background-color: #fff;
    color: #335eea;
    margin-top: -10rem;
    box-shadow: 0 .5rem 1.5rem rgba(22,28,45,.1);
    display: inline-block;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.5125rem 0.8125rem;
    font-size: 1.0625rem;
}

.banner::before {
    opacity: .6;
    background-color: #161c2d;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}

.phoneHeader {
    letter-spacing: .08em;
    color: #506690;
    margin-bottom: 0.25rem;
    line-height: 1.55;
    font-size: .75rem;
    margin-top: 0;
    font-weight: 400;
}

.phone {
    margin-bottom: 0;
}

.number {
    line-height: 1.45;
    letter-spacing: -.01em;
    font-size: 1.1875rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #335eea;
    text-decoration: none;
}

.number:hover {
    color: #294bbb;
    text-decoration: underline;
}

.container {
    position: relative;
    z-index: 1;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    justify-content: center;
    --bs-gutter-x: 2.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.column {
    text-align: center;
}

.header {
    line-height: 1.2;
    letter-spacing: -.02em;
    color: #fff;
    font-weight: 600;
    font-size: 3.8125rem;
}

.text {
    color: hsla(0,0%,100%,.75);
    margin-bottom: 0;
    font-size: 1.3125rem;
    font-weight: 400;
    margin-top: 0;
}

@media (max-width: 768px) {
    .banner {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .infoSection {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .buttonCircle {
        margin-top: -6rem;
    }

    .phone {
        margin-bottom: 1.5rem;
    }
    
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        max-width: 720px;
    }

    .column {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }

    .column {
        flex: 0 0 auto;
        width: 66.66667%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .column {
        flex: 0 0 auto;
        width: 83.33333%;
    }
}

